{{ define "main" }}

{{ $pub_type_csl := "" }}
{{ $pub_type_display := "" }}
{{ if .Params.publication_types }}
{{ if reflect.IsSlice .Params.publication_types }}
{{ $pub_type_csl = index .Params.publication_types 0 }}
{{ $pub_type_display = i18n (printf "pub_%s" (strings.Replace $pub_type_csl "-" "_")) | default (strings.Title
$pub_type_csl) }}
{{ end }}
{{ end }}

{{/* Page Cover */}}
{{ partial "components/cover.html" . }}

<div class="mx-auto flex max-w-screen-xl">
  {{ partial "components/sidebar.html" (dict "context" . "no_sidebar" true) }}
  {{ partial "components/toc.html" . }}
  <article
    class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">

      {{ if .Params.show_breadcrumb }}
      <div class="mb-4">
        {{ partial "components/breadcrumb.html" . }}
      </div>
      {{ end }}

      {{/* Add spacing if cover has overlapping icon */}}
      {{ $cover := partial "functions/get_cover_image.html" . }}
      <h1
        class="{{ if $cover }}mt-12{{ else }}mt-2{{ end }} text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100"
        data-pagefind-meta="title" data-pagefind-body>
        {{- .Title -}}
      </h1>

      <div class="mt-4 mb-16">
        <div class="text-gray-500 dark:text-gray-300 text-sm flex items-center flex-wrap gap-y-2">
          {{ partial "page_metadata_authors.html" . }}
          {{ if .Params.publication_types }}
          <span class="mx-1">·</span>
          <span class="text-slate-900 dark:text-slate-200">{{ $pub_type_display }}</span>
          {{ end }}
          {{ if .Date }}
          <span class="mx-1">·</span>
          <span>{{ .Date | time.Format (site.Params.locale.date_format | default ":date_long") }}</span>
          {{ end }}
        </div>

        {{/* EVENT / PUBLICATION METADATA */}}
        {{ if .Params.abstract | or (eq .Type "publications") | or (eq .Type "events") }}
        <div class="max-w-prose grid grid-cols-1 md:grid-cols-[200px_auto] gap-4 my-6">

          {{ if .Params.abstract }}
          <div class="font-bold text-2xl">{{ i18n "abstract" }}</div>
          <div>{{ .Params.abstract | markdownify }}</div>
          {{ end }}

          {{ if $pub_type_display }}
          <div class="font-bold text-2xl">{{ i18n "publication_type" }}</div>
          <div>
            {{ if and .Params.publication_types (gt (len .Params.publication_types) 0) }}
            <a href="{{ range first 1 (.GetTerms " publication_types") }}{{.RelPermalink}}{{end}}">
              {{ $pub_type_display }}
            </a>
            {{ end }}
          </div>
          {{ end }}

          {{ if .Params.publication }}
          <div class="font-bold text-2xl">{{ i18n "publication" }}</div>
          <div>{{ .Params.publication | markdownify }}</div>
          {{ end }}

        </div>
        {{ end }}

        <div class="prose prose-slate lg:prose-xl dark:prose-invert" data-pagefind-body>
          {{ .Content }}
        </div>

        <div class="container mx-auto prose prose-slate lg:prose-xl dark:prose-invert mt-5">
          {{ partial "page_footer" . }}
        </div>

    </main>
  </article>
</div>
{{ end }}